@let task = taskInput();
@let id = 'kanban-task__' + column + '__' + task.id;

@if (task) {
  <article
    #article
    class="kanban-task"
    tabindex="0"
    [id]="id"
    (click)="onClick()"
    (focus)="onFocus(true)"
    (focusout)="onFocus(false)"
    (dblclick)="onDoubleClick($event)"
    (contextmenu)="onRightClick($event)"
    (keydown.enter)="onDescriptionChange()"
    [class.complete]="task.progress === 100"
    [style.--vt-name]="animatingTaskUid() === task.uid ? task.uid : 'none'"
    [style.--progress.%]="task.progress || 100"
    [class.grad-disabled]="disabled()"
  >
    @if (isEditing()) {
      <input #input type="text" [value]="task.description" (blur)="onDescriptionChange()" />
    } @else {
      <p id="{{ id }}__description">{{ task.description }}</p>
    }

    @if (task.tasks) {
      <kanban-subtasks
        [task]="task"
        [subtasks]="task.tasks"
        (subtaskChange)="subtaskChange.emit($event)"
      ></kanban-subtasks>
    }

    <fieldset class="kanban-actions" id="{{ id }}__actions">
      <ng-content select="[task-actions]"></ng-content>
    </fieldset>
  </article>
}
