@let task = taskInput();
@let id = 'kanban-task__' + column + '__' + task.id;

@if (task) {
  <article
    #article
    class="kanban-task"
    tabindex="0"
    [id]="id"
    (click)="onClick()"
    (focus)="focusChange.emit(true)"
    (focusout)="focusChange.emit(false)"
    (contextmenu)="onRightClick($event)"
    [class.complete]="task.progress === 100"
    [style.--progress.%]="task.progress ?? 100"
    [class.grad-disabled]="disabled()"
    [style.view-transition-name]="id"
  >
    <p id="{{ id }}__description">{{ task.description }}</p>

    @if (task.subtasks) {
      <kanban-subtasks
        [task]="task"
        [subtasks]="task.subtasks"
        (subtaskChange)="subtaskChange.emit($event)"
      ></kanban-subtasks>
    }

    <fieldset class="kanban-actions" id="{{ id }}__actions">
      <ng-content select="[task-actions]"></ng-content>
    </fieldset>
  </article>
}
