@let columns = kanban().columns;
@let columnsOrder = kanban().columnsOrder;

<section
  class="kanban-container"
  aria-label="Kanban Board"
  [class.is-loading]="columnsApi.isLoading()"
  [class.is-tasks-loading]="!!columnsApi.value() && columnsOrder && !columnsOrder.length"
  (contextmenu)="onContextMenu($event)"
>
  <header class="kanban-header">
    <label for="kanban-new-task-input" class="visually-hidden">
      {{ 'ENTER_TASK_NAME' | translate }}
    </label>

    <input
      id="kanban-new-task-input"
      type="text"
      maxlength="150"
      [(ngModel)]="newTaskName"
      [placeholder]="'HEADER.ENTER_TASK_NAME' | translate"
      (keydown.enter)="newTaskName ? addTask() : null"
    />

    <button id="kanban-add-task-button" type="button" [disabled]="!newTaskName" (click)="addTask()">
      {{ 'HEADER.CREATE_TASK' | translate }}
    </button>
  </header>

  <main class="kanban-board" cdkDropListGroup>
    @let moveBackTitle = 'TASKS.MOVE_BACK' | translate;
    @let moveNextTitle = 'TASKS.MOVE_NEXT' | translate;
    @let removeTitle = 'TASKS.REMOVE' | translate;

    @for (
      columnName of columnsApi.value();
      track columnName;
      let columnLast = $last;
      let columnFirst = $first
    ) {
      @let column = columns.get(columnName);
      @let columnTranslate = 'COLUMNS.' + columnName | translate;

      <div class="kanban-column" [attr.aria-label]="columnTranslate">
        <h3 class="kanban-column__title">{{ columnTranslate }}</h3>

        @if (column) {
          <ul
            class="kanban-list"
            cdkDropList
            [cdkDropListData]="column.tasks"
            [attr.data-column]="columnName"
            [attr.aria-labelledby]="'kanban-col-title-' + columnName"
            (cdkDropListDropped)="drop($event)"
          >
            @for (taskId of column.tasksOrder; track taskId; let index = $index) {
              @let task = column.tasks.get(taskId);

              @if (task) {
                <li
                  cdkDrag
                  kanban-task
                  [focus]="focusTaskId() === task.uid"
                  [column]="columnName"
                  [taskInput]="task"
                  [cdkDragData]="task.uid"
                  [animatingTaskUid]="animatingTaskUid()"
                  (menuOpened)="onMenuOpened($event)"
                  (focusChange)="onFocusChange(task, $event)"
                  (descriptionChange)="onDescriptionChange($event, task.uid)"
                  [attr.aria-label]="
                    columnTranslate + ' ' + ('TASKS.TASK' | translate) + ' - ' + task.description
                  "
                  (subtaskChange)="onSubtaskChange(columnName, $event)"
                  [cdkDragDisabled]="columnName === 'done'"
                  id="kanban-task--{{ task.id }}"
                >
                  <ng-container task-actions>
                    <button
                      id="kanban-task_{{ task.id }}_back-button"
                      aria-hidden="true"
                      [disabled]="columnFirst"
                      [attr.aria-label]="moveBackTitle"
                      (click)="moveBack(task)"
                    >
                      <i class="fa-solid fa-chevron-left"></i>
                    </button>

                    <button
                      id="kanban-task_{{ task.id }}_next-button"
                      aria-hidden="true"
                      [disabled]="columnLast"
                      [attr.aria-label]="moveNextTitle"
                      (click)="moveNext(task)"
                    >
                      <i class="fa-solid fa-chevron-right"></i>
                    </button>

                    <button
                      id="kanban-task_{{ task.id }}_remove-button"
                      aria-hidden="true"
                      [attr.aria-label]="removeTitle"
                      (click)="remove(task)"
                    >
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                  </ng-container>
                </li>
              }
            }
          </ul>
        }
      </div>
    }

    <context-menu #contextMenu>
      @if (contextMenuTask(); as task) {
        <nav class="context-menu">
          <button (click)="moveBack(task.task); closeMenu()">
            <i class="fa-solid fa-chevron-left"></i>&nbsp;<span>{{ moveBackTitle }}</span>
          </button>

          <button (click)="moveNext(task.task); closeMenu()">
            <i class="fa-solid fa-chevron-right"></i>&nbsp;<span>{{ moveNextTitle }}</span>
          </button>

          <button (click)="remove(task.task); closeMenu()">
            <i class="fa-solid fa-chevron-xmark"></i>&nbsp;<span>{{ removeTitle }}</span>
          </button>
        </nav>
      }
    </context-menu>

    <div class="undo-redo-actions">
      <button id="kanban-undo-button" [disabled]="!isUndoPossible()" (click)="actions['undo']()">
        <i class="fa-solid fa-arrow-rotate-left"></i>
      </button>

      <button id="kanban-redo-button" [disabled]="!isRedoPossible()" (click)="actions['redo']()">
        <i class="fa-solid fa-arrow-rotate-right"></i>
      </button>
    </div>
  </main>
</section>
